@model IEnumerable<DevShop.Models.Product>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="cart">
    <h2 class="cart-title">Your cart</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio tenetur ut minus unde. Dolor suscipit quos exercitationem optio dolorem illum laboriosam accusamus necessitatibus, quis voluptates illo, placeat vitae animi harum

    </p>

    <!-- Content -->
    <div class="cart-content">
        <!-- Test box -->

    </div>
    <!-- Total -->
    <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">$0</div>
    </div>
    <!-- Buy Button -->
    <button type="button" class="btn-buy">Buy Now</button>
    <!-- Cart Close  -->
    <i class='bx bx-x' id="cart-close"></i>



</div>